<!-- Sidebar -->
<div class="bg-light border border-secondary" id="sidebar-wrapper">
    <div class="sidebar-heading"><strong><u>Admin</u></strong></div>
    <div class="list-group list-group-flush">

        <a asp-area="Administracao" asp-controller="PainelControle" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Painel de Controle</a>

        <a asp-area="Administracao" asp-controller="NoticiasBlog" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Noticias Blog</a>

        <a asp-area="Administracao" asp-controller="Categorias" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Categorias</a>

        <a asp-area="Administracao" asp-controller="Servicos" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Servicos</a>

        <a asp-area="Administracao" asp-controller="Cidades" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Cidades</a>

        <a asp-area="Administracao" asp-controller="Saloes" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Salões</a>

        <a asp-area="Administracao" asp-controller="Agendamentos" asp-action="Index"
           class="list-group-item list-group-item-action bg-light">Agendamentos</a>

    </div>
</div>
<!-- /#sidebar-wrapper -->
