<div class="menu trans_500">
    <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
        <div class="menu_close_container"><div class="menu_close"></div></div>
        <ul>
            <li class="menu_item"><a asp-area="Administracao" asp-controller="PainelControle" asp-action="Index">Painel de administração</a></li>
            <li class="menu_item"><a asp-area="Administracao" asp-controller="NoticiasBlog" asp-action="Index">Noticias Blog</a></li>
            <li class="menu_item"><a asp-area="Administracao" asp-controller="Categorias" asp-action="Index">Categorias</a></li>
            <li class="menu_item"><a asp-area="Administracao" asp-controller="Servicos" asp-action="Index">Serviços</a></li>
            <li class="menu_item"><a asp-area="Administracao" asp-controller="Cidades" asp-action="Index">Cidades</a></li>
            <li class="menu_item"><a asp-area="Administracao" asp-controller="Saloes" asp-action="Index">Salões</a></li>
            <li class="menu_item"><a asp-area="" asp-controller="Principal" asp-action="Index">VOLTAR PARA A PAGINA PRINCIPAL</a></li>
        </ul>
    </div>
</div>
