@model EncantosSalao.Web.VisaoModelos.Categorias.CategoriasSimplesListaVisaoModelo
@{
    this.ViewData["Title"] = "Default";
}

<div class="btn-group dropright ml-5">
    <button type="button" style="color: #BA55D3" class="btn btn-outline-secondary btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Procura por categoria
    </button>
    <div class="dropdown-menu">
        @foreach (var categoria in Model.Categorias)
        {
            <a class="dropdown-item" 
               asp-area="" asp-controller="Saloes" asp-action="Index" asp-route-sortId="@categoria.Id">
                @categoria.Nome (@categoria.ContadorSaloes)
            </a>
        }
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-area="" asp-controller="Saloes" asp-action="Index">Todos os Salões</a>
    </div>
</div>

<hr class="bg-dark m-4" style="height: 6px;" />
