@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Esqueceu de confirmar a senha";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor verifique seu email para reiniciar sua senha.
</p>

