@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmação do reinicio da senha";
}

<h1>@ViewData["Title"]</h1>
<p>
    Sua senha foi reiniciada. Por favor <a asp-page="./Login">clique aqui para entrar</a>.
</p>
