@{
    this.ViewData["Title"] = "Salao/Servico Indisponivel";
}

<h3>Desculpe, nenhum salao/servico está disponivel.</h3>

<div class="row">
    <div class="col-lg-4 ml-lg-5">
        <div class="button button-large button_1 elements_button mt-4">
            <a asp-area="" asp-controller="Saloes" asp-action="Index">
                <span>Encontre Outro</span>
                <span>Encontre Outro</span>
            </a>
        </div>
    </div>
</div>