@{
    this.ViewData["Title"] = "Politica de Privacidade";
}

<div class="col-lg-12">

    <div class="about_text_highlight"><h1>Politica de Privacidade</h1></div>
    <p>
        Esta politica de privacidade ("politica") ajudará você a entender como <strong>Salão Encantos</strong> ("nós", "nosso") usa e proteje os dados que você disponibiliza para nós quando você visita  e usa este website ("website", "serviço").
    </p>
    <p>
        Nõs nos reservamos o direito de alterar esta política quando necessário, e você será atualizado imdediatamente. Se você quiser ter certeza que está atualizado com as últimas atualizações, nós recomendamos  que você frequentemente visite esta página.
    </p>
    <div class="about_text_highlight">
        <h3>
            Quais dados do usuário iremos coletar
        </h3>
    </div>

    <p>
        Quando você visita o nosso website, nós podemos coletar os seguintes dados:
    </p>
    <p>
        <ul>
            <li>
                &#8226;
                Seu endereço IP.
            </li>
            <li>
                &#8226;
                Suas informações de contato e seu endereço de email.
            </li>
            <li>
                &#8226;
                Otras informações como interesses e preferências.
            </li>
            <li>
                &#8226;
                Perfil de dados relacionados com sue comportamento online em nosso website.
            </li>
        </ul>
    </p>
    <div class="about_text_highlight">
        <h3>
            Por que nós coletamos seus dados
        </h3>
    </div>

    <p>
        Nós estamos coletando seus dados por várias razões:
    </p>
    <p>
        <ul>
            <li>
                &#8226;
                Para melhor entender suas necessidades.
            </li>
            <li>
                &#8226;
                Para melhorar nossos serviçoes e produtos.
            </li>
            <li>
                &#8226;
                Para enviar para você emails promocionais contendo informações que pensamos que você achará interessante.
            </li>
            <li>
                &#8226;
                Para contactar você e solicitar que preencha nossos formulários de safisfação e participe de outros tipos de pesquisa de mercado.
            </li>
            <li>
                &#8226;
                Para customizar nosso website de acordo com seu comportamento online e suas preferências pessoais.
            </li>
        </ul>
    </p>
    <div class="about_text_highlight">
        <h3>
            Armazenando e protegendo os Dados
        </h3>
    </div>

    <p>
        <strong>Salão Encantos</strong> está comprometido em proteger seus dados e mantê-los confidenciais. <strong>Salão Encantos</strong> tem feito tudo ao seu alcance para evitar o roubo, acesso não autorizado e divulgação dos dados. Implementamos as tecnologias e softwares mais atuais, que nos ajudam a proteger todas as informaçõs que coletamos online.
    </p>
    <div class="about_text_highlight">
        <h3>
            Nossa política de Cookies
        </h3>
    </div>

    <p>
        Depois de concordar em permitir que nosso site use cookies, você também concorda em usar os dados que ele coleta em relação ao seu comportamento online (analisar o tráfego da web, as páginas da web nas quais você passa mais tempo e os sites que visita).
    </p>
    <p>
        Os dados que coletamos usando cookies são usados para personalizar nosso site de acordo com as suas necessidades. Depois de usarmos os dados para análise estatística, os dados são completamente removidos de nossos sistemas.
    </p>
    <p>
        Observe que os cookies não nos permitem obter o controle do seu computador de forma alguma. Eles são estritamente usados para monitorar quais páginas você acha útil e quais não, para que possamos oferecer uma experiência melhor para você.
    </p><p>
        Se você deseja desativar os cookies, pode fazê-lo acessando as configurações do seu navegador de Internet.
</p>
    <div class="about_text_highlight">
        <h3>
            Links para outros Websites
        </h3>
    </div>

    <p>
        Nosso website contain links que levam para outros websites. Se você clicar em um desses links <strong>Salão Encantos</strong> não é responsável pela proteção de seus dados e privacidade. A visita a esses sites não é regida por este contrato de política de privacidade. Certifique-se de ler a documentação da política de privacidade do site que você está acessando a partir do nosso website.
    </p>
    <div class="about_text_highlight">
        <h3>
            Restringindo a coleta de seus dados pessoais
        </h3>
    </div>

    <p>
        Em algum momento, você pode querer restringir o uso e a coleta de seus dados pessoais. Você pode conseguir isso fazendo o seguinte:
    </p>
    <p>
        <ul>
            <li>
                &#8226;
                Ao preencher os formulários do site, certifique-se de verificar se há alguma caixa que você pode deixar desmarcada, caso não queira divulgar seus dados pessoais.
            </li>
            <li>
                &#8226;
                Se você já concordou em compartilhar suas informações conosco, não hesite em nos contatar por e-mail e teremos o maior prazer em alterar isso para você.
            </li>
        </ul>
    </p>
    <p>
        <strong>Salão Encantos</strong> não irá alugar, vender ou distribuir suas informações pessoais a terceiros, a menos que tenhamos sua permissão. Podemos fazer isso se a lei nos obrigar. Suas informações pessoais serão usadas quando precisarmos enviar materiais promocionais se você concordar com esta política de privacidade.
    </p>

</div>
