@using EncantosSalao.Comum
@using EncantosSalao.Dado.Modelos
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<li class="menu_item"><a asp-area="" asp-controller="Principal" asp-action="Index">Principal</a></li>
<li class="menu_item"><a asp-area="" asp-controller="Categorias" asp-action="Index">Categorias</a></li>
<li class="menu_item"><a asp-area="" asp-controller="Saloes" asp-action="Index">Salões</a></li>
<li class="menu_item"><a asp-area="" asp-controller="NoticiasBlog" asp-action="Index">Blog</a></li>
<li class="menu_item">
    <a asp-area="" asp-controller="Agendamentos" asp-action="Index"><i class="fa fa-calendar" aria-hidden="true"></i> Agendamentos</a>
</li>

@if (this.SignInManager.IsSignedIn(this.User) && this.User.IsInRole(ConstantesGlobais.NomePapelGerenteSalao))
{
    <li class="menu_item">
        <a asp-area="Gerente" asp-controller="PainelControle" asp-action="Index"><i class="fa fa-tasks" aria-hidden="true"></i>Painel de Controle do Gerente do Salão</a>
    </li>
}
